.wrapper{
    user-select: none;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0));
}

.header{
    width: 85%;
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.header a {
    text-decoration: none;
}

.header .logo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.firstSection{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation{
    width: 79%;
    height: 100px;
    display: flex;
    justify-content: center;

}