.slideWrapper{
    width: 300px;
    height: 400px;
}

.swiperItem{
    top: -6px;
    cursor: pointer;
    position: absolute;
    /* margin-left: 14%; */
    /* margin-right: 15%; */
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.3s;
    margin-bottom: 40px;
    /* transform: scaleX(0.97); */
    /* border: black solid 1px; */
    

    .textBlock{
        color: white;
        position: relative;
        margin-bottom: 20px;
        width: 65%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 22px;
            font-weight: 600;
        }
    }
}

.swiperItem img{
    position: absolute;

    width: 300px;
    height: 385px; 
}

.swiperItem .gradient{
    position: absolute;

    width: 300px;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(51, 31, 8, 0), rgba(51, 31, 8, 0.904));
    border-radius: 0 0 15px 15px;
}

.swiperItem:hover{
    transform: scale(1.03);
 
}

/* .swiperItem img::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(to bottom, rgba(51, 31, 8, 0), rgba(51, 31, 8, 0.623));
} */