* {
    margin: 0;
    padding: 0;
}

.wrapper {
    user-select: none;
    width: 100%;

    animation: fadeInUp 1s ease-in-out forwards;

    background-image: url(../../../assets/image4.png);
    background-position: center;
    background-size: cover;
}

.header {
    width: 85%;
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header .logo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header a {
    text-decoration: none;
}

.header span {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.firstSection {
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.navigation {
    width: 79%;
    height: 100px;
    display: flex;
    justify-content: center;

    transform: translateY(20px);
    opacity: 0;

    animation: fadeInUp2 0.5s ease-in-out forwards;
}

.textWrapper {
    padding: 20px;
    border-radius: 15px;
    margin-top: 130px;
    width: 80%;

    font-size: 18px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.644);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.textWrapper p {
    line-height: 25px;
}

.pageTitle {
    color: #31261A;
    font-size: 40px;
    font-weight: 600;
}

.footer {
    width: 100%;
    z-index: 1000;
}

.content {
    display: flex;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    gap: 10px;

}

.newsElement {
    position: relative;
    cursor: pointer;
    /* border: black solid 1px; */
    background-color: rgba(255, 255, 255, 0.521);
    box-shadow: 0 0 5px rgb(151, 151, 151);
    border-radius: 10px;
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    .date {
        position: absolute;
        top: 0px;
        color: rgb(136, 136, 136);
        font-size: 15px;
    }
}

.newsElement:hover {
    transform: scale(1.02);
}

.newsElement .img {
    position: relative;

    width: 50px;
    height: 100%;
}

.img img {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.newsCardWrapperNone {
    display: none;
}

.pageWrapperNone {
    display: none;
}

.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.newsCardWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 50px;
}

.newsCardWrapper svg {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    color: black;
    transform: scale(0.9);
}


@keyframes fadeInUp {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .pageTitle {
        font-size: 30px;
        font-weight: 600;
    }

    .newsElement {
        font-size: 15px;

        .date {
            position: absolute;

            color: rgb(136, 136, 136);
            font-size: 12px;
        }
    }
}

@media (max-width: 500px) {
    .pageTitle {
        font-size: 30px;
        font-weight: 600;
    }

    .newsElement {
        font-size: 15px;
        width: 100%;

        .date {
            position: absolute;
            top: 5px;
            color: rgb(136, 136, 136);
            font-size: 8px;
        }
    }
}

