.mapSection{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: black solid 1px; */
    width: 80%;
    height: 70vh;
}

.mapWrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 90%;
    /* border: black solid 1px; */
}
  
.google-map iframe {
    /* border: black solid 1px; */
    height: 600px;
    width: 500px;
}

.text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #31261A;
}

.mapsWrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 90%;
    /* border: black solid 1px; */
}